@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: lightblue;
    }
    {
        text-align: center;
    }
</style>

<h1>Welcome To GC Coffee</h1>
<h2> Shop!</h2>
<a href="/Home/Register">Sign Up!</a>  
